body {
  font-family: Arial, sans-serif;
  background-color: #87CEEB; /* Bleu ciel */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 80%; /* Pourcentage de la largeur de l'écran */
}

.countdown {
  margin-bottom: 20px;
}

.countdown-img img {
  width: 200px; /* Ajustez la largeur de l'image selon vos préférences */
  height: auto; /* Permet de maintenir les proportions de l'image */
}

.countdown-name {
  font-size: 24px; /* Taille de la police pour le nom du compte à rebours */
  margin-bottom: 10px; /* Marge entre le nom du compte à rebours et le temps restant */
}

.countdown-time {
  font-size: 36px; /* Taille de la police pour le temps restant */
  font-weight: bold; /* Met en gras pour une meilleure lisibilité */
}
