body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.countdown {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
}

.countdown-name {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.countdown-time {
  font-size: 24px;
  font-weight: bold;
  color: #ff6347;
}
